<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <!-- <h5>Usuarios</h5> -->

            </div>


            <div class="card-body p-0">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- <label for="normal-input" class="form-control-label">Busqueda de usuarios</label> -->
                                <input #input (keyup)="buscarUsuario( input.value )" id="normal-input" class="form-control" placeholder="Usuarios">
                            </div>

                            <div class="row" *ngIf="cargando">
                                <div class="col-sm-12">
                                    <div class="text-center">
                                        <strong>Cargando...</strong>
                                        <br>
                                        <br>
                                        <i class="fas fa-spinner fa-spin fa-3x"></i>
                                        <br>
                                        <br>
                                        <span>Espere por favor</span>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive" *ngIf="!cargando">
                                <h6>Usuarios registrados (<small>  {{ actual }} de {{ totalRegistros }} </small>)</h6>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Correo</th>
                                            <th>Nombre</th>
                                            <th>Role</th>
                                            <th>Auth</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let usuario of usuarios">
                                            <td class="w70">
                                                <img (click)="mostrarModal( usuario.pk_usuario )" [src]="usuario.imagen | imagen" class="img-50 img-thumbnail pointer">
                                            </td>
                                            <td class="text-nowrap">{{ usuario.email }}</td>
                                            <td>{{ usuario.nombre }}</td>
                                            <td>

                                                <select [(ngModel)]="usuario.rol" class="form-control" name="role">
                                          <option value="ADMIN">ADMIN</option>
                                          <option value="USER">USER</option>
                                        </select>

                                            </td>
                                            <td>
                                                <span *ngIf="usuario.google_auth == '1'" class="badge badge-danger">Google</span>
                                                <span *ngIf="usuario.google_auth == '0'" class="badge badge-info">Normal</span>
                                            </td>
                                            <td>
                                                <button (click)="guardarUsuario( usuario )" type="button" name="button" class="btn btn-primary">
                                          <i class="fa fa-save"></i>
                                        </button>
                                                <button (click)="borrarUsuario( usuario )" type="button" name="button" class="btn btn-danger">
                                          <i class="fas fa-trash-alt"></i>
                                        </button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <button (click)="cambiarDesde(-5)" type="button" class="btn btn-outline-secondary">Anteriores</button>
                                <button (click)="cambiarDesde(5)" type="button" class="btn btn-outline-primary">Siguientes</button>
                            </div>

                        </div>
                        <!-- end col-md-12 -->
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
