<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                    <div class="card-header text-center text-uppercase h4 font-weight-light">
                        Actualizar contraseña
                    </div>
                    <!-- form -->
                    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="actualizarPassword()" id="loginform">

                      <div class="card-body py-5">

                        <div class="form-group">
                            <label class="form-control-label">Password</label>
                            <input formControlName="password" name="password" class="form-control" type="password" required placeholder="Contraseña">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Confirm Password</label>
                            <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="Confirma contraseña">
                        </div>

                        <div class="form-group" *ngIf="forma.errors?.sonIguales && !forma.pristine">
                            <p class="text-danger">
                                Las contraseñas deben de se iguales
                            </p>
                        </div>

                      </div>

                      <div class="card-footer">
                          <button type="submit" class="btn btn-warning btn-block">Guardar</button>
                      </div>

                    </form>
                    <!-- end form -->
                    <div class="row">
                      <div class="col-12">
                        <hr>
                          <a (click)="regresarLogin()" class="btn btn-link">Regresar al inicio...</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
